/* Selection colours */
::selection     {background: #9ff3ff;}
::-moz-selection  {background: #9ff3ff;}
img::selection    {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: #9ff3ff;}

/* Universal Styles */
img {
  max-width: 100%;
  }

a{
  text-decoration: none;
  color: black;
}


body{
  margin:0;
  padding:0;
  background-color: #ececec;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: url(images/background.jpg) repeat;
}

#container_card{
  background: url(images/background_card.jpg) repeat;
  margin: 0 auto;
  margin: 35px;
  height: 900px;
  -webkit-box-shadow:  0px 0px 20px 5px rgba(69, 69, 69, .6);
  box-shadow:  0px 0px 20px 5px rgba(69, 69, 69, .6);
}